<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
  <ul class="unstyled list-unstyled">
    <% _.each(events, function(event) { %>
    <li>
      <span class="pull-left event <%= event['class'] %>"></span>&nbsp;Title:
      <%= event.title %>
    </li>
    <li>
      Date: <%= event.date %>
    </li>
    <li>
      Start Time: <%= event.time %>
    </li>
    <li>
      End Time: <%= event.time %>
    </li>
    <li>
      Venue: <%= event.venue %>
    </li>
    <li>
      Description: <%= event.description %>
    </li>
    <% }) %>
  </ul>
</div>
